	*{

    
    font-family: 'Quicksand', sans-serif;
color: #474747;

	}

	ul{
		width: 100%;
padding-left: 0;
	}

	.precip1,.humidity1,.visibility1,.windSpeed1{
		width: 50%;
float: left;
font-size: 14px;
	}
.windSpeed1 img, .visibility1 img{
	position: relative;
top: 5px;
right: 5px;
}

.precip1 img{
	position: relative;
right: 5px;
top: 3px;
}
	li{
		list-style: none;
	}
	p{
		margin:0;
	}

.first-day{
	background-color: white;
height: 600px;
width: 300px;
margin: 20px auto;
-webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
border: 1px solid #e3e3e3;
}


.landing-msg{
	margin: 50% auto;
	width: 200px;
	font-size: 14px;
	line-height: 1.7;
	text-align: center;
}

.landing-msg p{
    color: #474747;
}


.first-day h4, h6{
	text-align: center !important;
	margin: 0 auto !important;
width: 100%;
}

h4{
	font-size: 14px;
}

h6{
	padding-top: 10px !important;
}

h5, h4, h6{
	margin: 0;
}

.col{
	width: calc(99%/4);
font-size: 12px;
text-align: center;
margin-top: 20px;
}

.col img{
	width: 30px;
	height: 30px;
}
.col div:nth-of-type(2){
	margin: 5px;
}

.col div:nth-of-type(4),.col div:nth-of-type(3){
	margin: 10px;
}

.day1{
	height: 200px;
}

#forecast-icon{
position: relative;
left: 10px;
bottom: 10px;
width: 40px !important;
}




/*
.day4, .day2, .day3{
	border: 1px solid white;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}*/
#day2,#day3,#day4,#day5{
	margin-bottom: 10px;
}

/*.day2summary,.day3summary,.day4summary,.day5summary{
	margin: 5px;
}

.day2precip,.day3precip,.day4precip,.day5precip{
	margin: 10px;
}
*/
.day1summary{
	text-align: center;
margin-top: 5px;
}
.day1summary span, h4{
	font-size: 13px;
}
.day1summary ul{
	height: 20px;
}

.weather-container .col {
	float: left;
}

.none{
	display: none;
}

.show{
	display: block;
}

.sunshine{
	position: relative;
    top: 35%;
}

.loader-container{
	position: fixed;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 7;
	margin-top: -20px;
	text-align: center;
}

#btn{
	width: 25px;
cursor: pointer;
height: 25px;
padding-top: 10px;
float: right;
}

#btn img{
	width: 25px;
}

.day1temp{
	text-align: center;
	margin-top: 20px;
}

.day1temp span{

	font-size: 54px;
}

.search-container{
	width: 210px;
margin: 0 auto;
font-size: 14px;
}

#address{
	/*border-radius: 180px;*/
border: 1px solid #B7B7B7;
padding-left: 10px;
margin-top: 10px;
width: 170px;
border-left: 0;
border-top: 0;
border-right: 0;
text-align: center;
outline: none;
}

#degree{
	position: relative;
bottom: 30px;
}